<div class="bg-warning p-5 w-50 rounded" style="margin: 100px auto;">
    <h1 class="text-center bg-primary text-uppercase"> user Sign Up</h1>
    <form action="/users/create" method="post" class="p-10">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name Here">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Your Email Here">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Your Password Here">
        </div>
        <button type="submit" class="btn btn-secondary"> Sign Up</button>
    
    </form>
</div>
